 <div class="form-item-wrapper flexed-item">
      <label for="event-title" class="label-title label">Event title</label>
      <input id="event-title" type="text" class="input-text input" name="title" required placeholder="title" >
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="event-date" class="label-date label">Date</label>
      <input id="event-date" type="date" class="input-text input" name="date" required placeholder="DD/MM/YY">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="event-descr" class="label-descr label">Description</label>
      <input id="event-descr" type="text" class="input-text input"  name="description" required placeholder="ex: amazing trip">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="event-image" class="label-image label">Photo</label>
      <input id="event-image" type="text" class="event-image input" name="image" >
    </div>