<div class="big-container">
  <form method="post" action="/timeline/{{timelineId}}/event/create" class="event-form" enctype="multipart/form-data">
    <h3 class="form-title"> Create an event</h3>

    {{> catCreatePartials}}

    {{#if isTrips}}
    <div class="map"> <p>je suis un trip</p></div>
    {{/if}}

    {{#if isCulture}}
    <div class="form-item-rating">
      <label for="event-rating" class="label hidden">Rating:</label>
      <span class="rating">
        <input type="radio" name="rating" id="str5" class="hidden">
        <label for="rating5"></label>
        <input type="radio" name="rating" id="str4" class="hidden">
        <label for="rating4"></label>
        <input type="radio" name="rating" id="str3" class="hidden">
        <label for="rating3"></label>
        <input type="radio" name="rating" id="str2" class="hidden">
        <label for="rating2"></label>
        <input type="radio" name="rating" id="str1" class="hidden">
        <label for="rating1"></label>
      </span>
    </div>

    <input id="event-review" type="text" class="event-review input hidden" name="review"
      placeholder="give your opinion">

    <input id="event-author" type="text" class="event-author input hidden" name="author"
      placeholder="director or author">
    {{/if}}

    {{#if isFamily}}
    <input id="event-people" type="text" class="event-people input hidden" name="people"
      placeholder="ex: people who was with you">
    {{/if}}

    <button class="btn">Create!</button>
  </form>
</div>