<div class="big-container product-manage-wrapper flexed-item">
  <form method="post" action="/trips-create" class="create-trips-form" enctype="multipart/form-data">
    <h3 class="form-title"> Create Trips event</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="event-name" class="label-name label">Event title</label>
      <input id="event-name" type="text" class="input-text input" name="name" required placeholder="title" >
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="event-date" class="label-date label">Date</label>
      <input id="event-date" type="date" class="input-text input" name="date" required placeholder="DD/MM/YY">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="event-descr" class="label-descr label">Description</label>
      <input id="event-descr" type="text" class="input-text input"  name="description" required placeholder="ex: amazing trip">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="event-image" class="label-image label">Photo</label>
      <input id="event-image" type="text" class="event-image input" name="image" >
    </div>
    <div class="map"></div>
      
    </div>
    <button class="button-primary add-event-btn">Create this event</button>
  </form>
</div>