<div class="big-container">
  <form method="post" action="/timeline/{{timelineId}}/event/create" class="event-form" enctype="multipart/form-data">
    <h3 class="form-title"> Create an event</h3>

    {{> catCreatePartials}}

    {{#if isTrips}}
   <input type="text" placeholder="place where you have been">
    {{/if}}

    {{#if isCulture}}
    <div class="form-item-rating">
      <label for="event-rating">Rating:</label>
      <span class="rating">
        <input type="radio" name="rating" id="str5">
        <label for="rating5"></label>
        <input type="radio" name="rating" id="str4">
        <label for="rating4"></label>
        <input type="radio" name="rating" id="str3">
        <label for="rating3"></label>
        <input type="radio" name="rating" id="str2">
        <label for="rating2"></label>
        <input type="radio" name="rating" id="str1">
        <label for="rating1"></label>
      </span>
    </div>

    <input id="event-review" type="text" class="input" name="review"
      placeholder="give your opinion">

    <input id="event-author" type="text" class="input" name="author"
      placeholder="director or author">
    {{/if}}

    {{#if isFamily}}
    <input id="event-people" type="text" class="input" name="people"
      placeholder="ex: people who was with you">
    {{/if}}

    <button class="btn">Create!</button>
  </form>
</div>