<table class="table">

    <tbody>
        <tr>   
            <td class="category">{{this.category}}</td>
            <td class="timeline-title">{{this.timeline-name}}</td>
            <td data-id="{{this._id}}" class="delete"><i class="far fa-trash-alt"></i></td>
            <td data-id="{{this._id}}" class="edit"><i class="far fa-edit"></i></td>
        </tr>
    </tbody>

</table>

<button class="btn">create a timeline</button>