<header id="demo-header">How it works</header>

    <hr id="demo-line">
    <div id="db1" class="demo-ball"></div>
    <div id="db2" class="demo-ball"></div>
    <div id="db3" class="demo-ball"></div>
    <div id="db4" class="demo-ball"></div>

<div id="all-demo">

<section id="demo-description">
<ul>
    <li>You wanna make a linear register of important<br> or interesting and funny facts of your life</li>
    <li>Think about a theme: your trips? Books you’ve<br> read? Professional achievements?</li>
    <li>Create a timeline regarding your theme:<br> add a fact, a date, a description and a picture if you want</li>
    <li>And voilà! Your facts will be displayed in the timeline according<br> to their dates. And you can have as many timelines you want!</li>
    </ul>
</section>

<img id="demo-home-skyline" src="/assets/skyline.jpg" alt="skyline" />
</div>

<button id="lets-try" class="btn">let's try!</button>