<header id="home-header">My life timeline</header>

<p>Create timelines and keep your best memories close to you</p>

<div class="display">
<div id="main-img">
    <img src="/assets/skyline.jpg" alt="skyline" />
</div>
<div id="wanna-see">Wanna see how it works?<br><a href="/demo">check it out</a></div>
</div>