
<header id="my-life">My life</header>
<div id="line-ball">
    <hr id="line">
    <div id="ball"></div>
    <header id="timeline">timeline</header>
</div>


<p id="slogan">Create timelines and keep your best memories close to you</p>


<div class="display">
    <img id="home-skyline" src="/assets/skyline.jpg" alt="skyline" />
    <div id="wanna-see">
        <p id="wanna-see-text">Wanna see how it works?</p>
        <a id="check" href="/demo">check it out</a>
        <div id="wanna-see-ball"></div>
    </div>
</div>