
{{> navbar}}

<header id="home-header">My life timeline</header>

<div id="main-img">
<img src="/public/skyline.jpg"/>
</div>

<p id="">Create timelines and keep your best memories close to you</p>

<p>Wanna see how it works?</p>
<a href="/demo">Check it out</a>
