
    
        <header id="my-life">My life</header>

        <div id="line-ball">
            <h1 id="timeline">timeline</h1>
            <p id="slogan">Create timelines and keep your best memories close to you</p>
        </div>

    </div>
    <div class="display">
        <img id="home-skyline" src="/assets/skyline.png"/>
        <div id="wanna-see">
            <div id="wanna-see-ball"></div>
            <div id="teaser">
                <p id="wanna-see-text">Wanna see how it works?</p>
                <a id="check" href="/demo">check it out</a>
            </div>
        </div>

