<section class="container-sign">


  <form method="post" action="/signup" class="user_form">
    <h1 id="create-title">Create your account</h1>

    {{>flashMessage}}
    <div class="form-item-wrapper">
      <input id="firstname" type="text" name="name" class="input" placeholder="Name" required>
    </div>
    <div class="form-item-wrapper">
      <input id="lastname" type="text" name="lastname" class="input" placeholder="Last name" required>
    </div>
    <div class="form-item-wrapper">
      <input id="email" type="email" name="email" class="input" placeholder="Email"
        required>
    </div>
    <div class="form-item-wrapper">
      <input id="password" type="password" name="password" class="input" placeholder="Password" required>
    </div>
    <button class="btn btn-signup">Sign up</button>
    <p class="form-sub-infos">Already have an account ? <a href="/signin">Sign In</a></p>
  </form>
  


<div class="su-form-blue-ball"></div>
<div class="su-form-pink-ball"></div>
</section>