<section class="container-sign">

  <form method="post" action="/signin" class="user_form">

    <h1 class="form-title">Nice to see you again!</h1>
    {{>flashMessage}}
    <div class="form-margin" class="form-item-wrapper">
      <input id="email" type="email" name="email" class="input" placeholder="E-mail"
        required>
    </div>
    <div class="form-margin" class="form-item-wrapper">
      <input id="password" type="password" name="password" class="input" placeholder="Password" required>
    </div>
    <button class="btn" id="btn-signin">Log in !</button>
  </form>
  <p class="form-sub-infos">Don't have an account yet ? <a href="/signup" class="button-link-form">Sign Up</a></p>

 <hr class="form-line">
<div class="form-ball"></div>
<div class="form-big-blue-ball"></div>
<div class="form-big-pink-ball"></div>

</section>