<section class="container-sign">

  <form method="post" action="/signin" class="user_form">
   
      <h1 class="form-title">Welcome Back !</h1>
      <p class="form-subtitle">Ready for a new journey into your memories? </p>
    
    <div class="form-item-wrapper">
      <label for="email" class="label">Email</label>
      <input id="email" type="email" name="email" class="input-text input" placeholder="albert.biceps@gmail.com"
        required>
    </div>
    <div class="form-item-wrapper">
      <label for="password" class="label">Password</label>
      <input id="password" type="password" name="password" class="input-text input" placeholder="••••••" required>
    </div>
    <button class="btn">Log in !</button>
  </form>
  <p class="form-sub-infos">Don't have an account yet ? <a href="/signup" class="button-link-form">Sign Up</a></p>

</section>