<div class="big-container">
  <form method="post" action="/timeline/{{timeline._id}}/edit" class="timeline-form">
    <h3 class="form-title"> Edit Timeline</h3>

    <input id="timeline-name" type="text" class="input-text input" name="name" required placeholder="title"
      value="{{timeline.name}}">


    <input id="timeline-cat" type="text" class="input-text input" name="category" required placeholder="category"
      value="{{timeline.category}}">


    <button class="btn">Edit!</button>
  </form>
</div>