<div class="big-container">

  <form method="post" action="/timeline/create" class="timeline-form" enctype="multipart/form-data">
    <h3 class="form-title"> Create Timeline</h3>
    
    <input id="timeline-name" type="text" class="input-text input" name="name" required placeholder="title">
   
    <input id="timeline-cat" type="text" class="input-text input" name="category" required placeholder="category: trips">
    

    <button class="btn">Create!</button>
  </form>
</div>