    <h1 class="title">My Trips Timeline</h1>
        
    <section id="timeline-section">
        <div class="event"></div>

        <div class="container">
            <div class="timeline"></div>
            <div class="event">
                <h3 class="date date-left">14/08/19</h3>
                <div class="card card-right">
                    <img src="/assets/placeholder-image.jpg" alt="placeholder image" id="card-image">
                    <div class="card-content">
                        <h3 class="card-title">Day at the Beach</h3>
                        <br>
                        <p>Beautiful sunny day at the beach with the family!</p>
                        <br>
                        <p>See more</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="timeline"></div>
            <div class="event">
                <h3 class="date date-right">14/08/19</h3>
                <div class="card card-left">
                    <img src="/assets/placeholder-image.jpg" alt="placeholder image" id="card-image">
                    <div class="card-content">
                        <h3 class="card-title">Day at the Beach</h3>
                        <br>
                        <p>Beautiful sunny day at the beach with the family!</p>
                        <br>
                        <p>See more</p>
                    </div>
                </div>
            </div>
        </div>
        <!--

            <div class="timeline"></div>
            <div class="event"></div>
            <div class="timeline"></div>
            <div class="event"></div>
            <div class="timeline"></div>
            <div class="event"></div>
        -->
    
    </section>
    <script src="/javascript/timeline.js"></script>