<div class="big-container product-manage-wrapper flexed-item">
  <form method="post" action="/timeline-edit/{{timeline._id}}" class="edit-timeline-form">
    <h3 class="form-title"> Edit Timeline</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="timeline-name" class="label-name label">Timeline name</label>
      <input id="timeline-name" type="text" class="input-text input" name="name" required placeholder=""
        value="{{timeline.name}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="timeline-cat" class="label-cat label">Category</label>
      <input id="timeline-cat" type="text" class="input-text input" name="category" required
        value="{{timeline.category}}">
    </div>

    <button class="btn">Edit this timeline</button>
  </form>
</div>