<div class="big-container">

  <form method="post" action="/timeline/create" class="timeline-form">
    <h3 class="form-title"> Create a Timeline</h3>

    <input id="timeline-name" type="text" class="input" name="name" required placeholder="title">

<div class="formfield-select">
	

	<div class="formfield-select--container">

    <select id="mon_select" id="category" name="category" class="select" required>
      <option value="-1" disabled selected>choose a category</option>
      <option value="general">General</option>
      <option value="trips">Trips</option>
      <option value="culture">Culture</option>
      <option value="family">Family</option>
    </select>
    </div>
    </div>


    <button class="btn">Create!</button>
  </form>
</div>