
.event-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-view {
  font-family: Boogaloo;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  margin-bottom: 30px;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn a{
    text-decoration: none;
    color: black;
}
