

.title-view {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Boogaloo;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  margin-top: 30px;
}

#date-event {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Boogaloo;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.img-event {
  border: 7px solid black;
}

.details-img {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details{
  font-family: sue;
  font-size: 2em;
  margin: auto 150px;
}

.details-buttons {
  display:flex;
  flex-direction: column;
  justify-content: right;
}

#details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn a{
    text-decoration: none;
    color: black;
}
