.big-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.timeline-form{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    
}

