body {
  background-image: linear-gradient(to bottom, #edeadb 70%, white 30%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.home-container {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/skyline.jpg");
  background-size: 100vh;
  background-position: left;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .home-container {
    width: 50vw;
  }
}

#my-life {
  position: absolute;
  font-family: molle;
  font-size: 12vh;
  margin: 5vh auto 0vh 10vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 600px) {
  #my-life {
    font-size: 5vh;
  }
}

#line {
  position: relative;
  width: 125vh;
  height: 0.5vh;
  left: 0px;
  top: 19vh;
  background-color: #d09d7c;
  border: 0vh solid #d09d7c;
}

@media screen and (max-width: 600px) {
  #line-ball {
    width: 60%;
  }
}

#ball {
  position: absolute;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 100%;
  left: 124vh;
  top: 25vh;
  background-color: #d09d7c;
  border: 0vh solid #d09d7c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#timeline {
  position: relative;
  font-family: sue;
  font-size: 12vh;
  margin: 10vh auto 5vh 60vh;
  height: 12vh;
  text-shadow: 6px 6px 7px #cfcbcb;
}

@media screen and (max-width: 600px) {
  #timeline {
    font-size: 5vh;

  }
  .line-ball {
    width: 20vw;
  }
}

#slogan {
  position: relative;
  font-family: sue;
  font-size: 5vh;
  margin: auto auto 0vh 60vh;
}

@media screen and (max-width: 600px) {
  #slogan {
    font-size: 2vh;
    text-align: right;
    margin: auto;
  }
}

.display {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0%;
  margin-bottom: 0%;
}

@media screen and (max-width: 600px) {
    .display {
        display: flex;
        flex-direction: column;
       
      
    }
    
    }

/* #home-skyline {
  position: static;
  height: 55vh;
  margin-left: 20vh;
  border-radius: 10%;
} */

#wanna-see {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 15%;
}

#teaser {
  position: relative;
  justify-items: center;
  text-align: center;
}

#wanna-see-ball {
  position: absolute;
  width: 30vh;
  height: 30vh;
  background-color: #ffd1b3;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#wanna-see-text {
  font-family: boogaloo;
  font-size: 6vh;
}

#check {
  height: 30vh;
  text-decoration: none;
  font-family: sue;
  font-size: 6vh;
  color: black;
}
