
.nav {
    display: flex;
    position: relative;
    height: 7vh;
    width: 100%;
    background: #FFFEFE;
    justify-content: space-between;
    align-items: center;
    font-family: boogaloo;
    font-size: 4vh;
    padding: 8px 10px;
}

#nav-link-home {
    text-decoration: none;
    color: #333333;
    margin-left: 5vh;
}

.nav-link {
    text-decoration: none;
    color: #333333;
    margin-right: 5vh;
}


@media all {
    .nav {
        width: 100;
    }
}

