.container-sign {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sign-in {
  margin-top: 30px;
}

.user_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 70vh;
}

@media screen and (max-width: 600px) {
  .user_form {
    margin-top: 20px;
  }
}

.form-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .form-item-wrapper {
    width: 30%;
  }
}
#password {
  margin-bottom: 40px;
}

::placeholder {
  font-family: boogaloo;
  font-size: 3.5vh;
}

.form-sub-infos {
  font-family: Boogaloo;
  font-size: 20px;
  margin-top: 45px;
}

@media screen and (max-width: 600px) {
  .form-sub-infos {
    margin-top: 35px;
  }
}

.form-margin {
  margin-bottom: 20px;
}

#create-title {
  margin-top: 20px;
  margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
  #create-title {
    font-size: 30px;
  }
  .form-title{
    font-size: 30px;
  }
}



.flash-msg {
  font-family: Boogaloo;
  font-size: 20px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.form-big-blue-ball {
  display: block;
  position: absolute;
  margin-bottom: 30vh;
  margin-left: 110vh;
  width: 25vh;
  height: 25vh;
  background-color: #9db7b8;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-big-pink-ball {
  display: block;
  position: absolute;
  margin-bottom: 40vh;
  margin-left: 130vh;
  width: 15vh;
  height: 15vh;
  background-color: #ffd1b3;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 600px) {
  .form-big-blue-ball {
    display: none;
    position: relative;
  }
  .form-big-pink-ball {
    display: none;
    position: relative;
  }
}

.su-form-blue-ball {
  display: block;
  position: absolute;
  margin-bottom: 30vh;
  margin-left: 110vh;
  width: 25vh;
  height: 25vh;
  background-color: #9db7b8;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.su-form-pink-ball {
  display: block;
  position: absolute;
  margin-bottom: 40vh;
  margin-left: 130vh;
  width: 15vh;
  height: 15vh;
  background-color: #ffd1b3;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 600px) {
  .su-form-blue-ball {
    display: none;
    position: relative;
  }
  .su-form-pink-ball {
    display: none;
    position: relative;
  }

  .user_form input {
    width: 50vw;
  }
}
