
@import './home.css';
@import './time_event_form.css';
@import '. /user_form.css';

@font-face {
    font-family: boogaloo;
    src: url("../font/boogaloo.ttf");
};
@font-face {
    font-family: "sue";
    src: url("../font/sue.ttf");
}
@font-face {
    font-family: molle;
    src: url("../font/molle.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}