@import './form.css';
@import './home.css';

@font-face {
    font-family: boogaloo;
    src: url("/boogaloo.ttf");
};
@font-face {
    font-family: sue;
    src: url("sue.ttf");
}
@font-face {
    font-family: molle;
    src: url("/molle.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}