@import './navbar.css';
@import './home.css';
@import './time_event_form.css';
@import './signin-signup.css';
@import './demo.css';
@import './details.css';
@import './dashboard.css';

@font-face {
    font-family: boogaloo;
    src: url("../font/boogaloo.ttf");
}

@font-face {
    font-family: sue;
    src: url("../font/sue.ttf");
}

@font-face {
    font-family: molle;
    src: url("../font/molle.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-image: linear-gradient(to bottom, #edeadb 70%, white 30%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

h1{
    font-family: "sue";
    font-size: 40px;
}

.btn {
    font-family: "sue";
    font-size: 30px;
    width: 200px;
    height: 70px;
    background: #ffd1b3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0vh solid #D09D7C;
    border-radius: 19px;

  }

  .btn:hover{
      opacity: 75%;
  }

  a:hover{
      opacity: 75%;

  }


  .img-event{
      height: 300px;
  }