.big-container {
  background-image: url("/assets/skylinecrop.jpg");
  background-position: left;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .hidden{
    display: none;
} */

.timeline-form, .event-form, .user_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
}

.form-title {
  margin-bottom: 20px;
  font-family: "sue";
}

.input {
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.btn {
  font-size: 30px;
  width: 200px;
  height: 60px;
  background: #ffd1b3;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  margin-top: 50px;
}

.form-item-rating {
  display: flex;
  flex-direction: row;
}
